@use '@/scss/variables/variables' as v;

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content
		}
	}
}

@mixin scrollbar {
	scrollbar-width: thin;
	scrollbar-color: v.$c-black transparent;
	overscroll-behavior: none
}