@use "@/scss/variables/variables" as v;
@use "@/scss/typography/mixins" as t;

.moviePreview {
	width: 100%;
	height: 100dvh;
	position: relative;
	z-index: 51;
	padding: 82px 20px;

	@media(min-width: v.$md) {
		padding: 50px 50px;
	}

	&Bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: v.$light-grad;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&Inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	h3 {
		font-family: v.$ff;
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		color: v.$c-white;
		display: none;
		text-align: center;

		@media(min-width: v.$md) {
			display: block;
		}
	}
}