@use "@/scss/variables/variables" as v;
@use "@/scss/typography/mixins" as t;

.moviePreview {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	height: 100dvh;
	z-index: 51;
	will-change: transform, opacity;

	&.showed {
		z-index: 52;
	}

	&.finish {
		transform-origin: center;
	}

	&Container {
		width: 100%;
		min-height: 800vh;
		display: flex;
		align-items: flex-start;
		position: relative;

		@media(min-width: v.$md) {
			min-height: 1500vh;
		}
	}

	&Wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		z-index: 20;
		padding: 82px 20px;

		@media(min-width: v.$md) {
			padding: 50px 50px;
		}
	}

	.mergedCardWrapper {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		z-index: 50;
		pointer-events: none;
		width: 92px;
		height: 140px;
		overflow: visible;
		transition: height ease v.$tr, width ease-in-out v.$tr;

		@media(min-width: v.$md) {
			width: 150px;
			height: 226px;
		}

		.stateImage {
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			width: 100%;
			opacity: 0;
			height: 100%;
			background-color: v.$c-dark;
			border: 2px solid v.$c-blue;
			border-radius: 20px;

			.stateItem {
				width: 100%;
				height: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.keyb {
				width: 100%;
				height: 14px;
				position: absolute;
				left: 0;
				top: calc(100% + 14px);
				opacity: 0;
				transition: opacity ease v.$tr;
			}

			.logo {
				width: 66px;
				height: 66px;
				transform: scaleX(-1);
				transition: width ease v.$tr, height ease-in-out v.$tr;
			}
		}

		&.state2 {
			width: 400px;
			height: 200px;

			.logo {
				width: 100px;
				height: 100px;
			}
		}

		&.state2, &.state3 {

			.stateImage {
				opacity: 1;
			}

			.mergedCardBack {
				opacity: 0;
			}
		}

		&.state3 {
			width: 600px;
			height: 300px;

			.stateItem {
				.keyb {
					opacity: 1;
				}
			}

			.logo {
				width: 160px;
				height: 160px;
			}
		}

		.mergedCard {
			position: relative;
			width: 100%;
			height: 100%;
			perspective: 1000px;
			transform-style: preserve-3d;

			.mergedCardFront {
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				transform-style: preserve-3d;

				img {
					border-radius: 5px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}

			.mergedCardBack {
				position: absolute;
				width: 100%;
				height: 100%;
				backface-visibility: hidden;
				transform: rotateY(180deg);
				transform-style: preserve-3d;

				img {
					border-radius: 5px;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}


	&Bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: v.$light-grad;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&Inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	h3 {
		font-family: v.$ff;
		font-weight: 700;
		font-size: 40px;
		line-height: 48px;
		color: v.$c-white;
		display: none;
		text-align: center;
		margin-bottom: 20px;

		@media(min-width: v.$md) {
			display: block;
		}
	}
}

.secondRowCards {
	position: absolute;
	left: 0;
	top: 5%;
	width: 100vw;
	margin-left: calc(50% - 50vw);
	display: flex;
	align-items: stretch;
	justify-content: center;
	z-index: 1;

	@media(min-width: v.$md) {
		min-height: 226px;
		height: 100vh;
	}
}

.secondRowCardsInner {
	display: flex;
	align-items: center;
	height: 226px;
	gap: 8px;
	white-space: nowrap;

	@media(min-width: v.$md) {
		gap: 20px;
	}

	.secondRowCard {
		flex: 0 0 auto;
		width: 92px;
		height: 140px;
		position: relative;
		border-radius: 8px;
		overflow: hidden;

		@media(min-width: v.$md) {
			width: 150px;
			height: 226px;
		}

		a {
			display: flex;
			flex-direction: column;
			width: 100%;
			height: 100%;
			position: relative;
			text-decoration: none;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			display: block;
		}
	}

	.secondRowCardPrice {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: v.$dark-gradient-v;
		color: v.$c-gold;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 10px 10px 20px 10px;
		opacity: 0;
		transition: opacity ease-in-out v.$tr;

		span {
			font-family: v.$ff;
			font-weight: 700;
			font-size: 10px;
			line-height: 18px;
			text-align: center;
			color: inherit;

			@media(min-width: v.$md) {
				font-size: 14px;
			}
		}
	}

	.secondRowCard:hover .secondRowCardPrice {
		opacity: 1;
	}
}

