@use '../variables/variables' as v;

@mixin text-xl() {
	font-family: v.$ff;
	font-weight: 700;
	font-size: 32px;
	line-height: 37px;
	color: v.$c-white;

	@media(min-width: v.$lg) {
		font-size: 64px;
		line-height: 70px;
	}
}

@mixin text-base() {
	font-family: v.$ff;
	font-weight: 700;
	font-size: 32px;
	line-height: 48px;

	@media(min-width: v.$lg) {
		font-size: 32px;
		line-height: 48px;
	}
}

@mixin text-em() {
	position: relative;
	z-index: 1;
	animation: textColorAnim forwards 4s ease-in;
	animation-delay: 2s;

	&:after {
		content: '';
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 5%;
		display: block;
		width: 101%;
		height: 15%;
		opacity: 0;
		background-color: v.$c-blue;
		z-index: -1;
		animation: afterFadeIn 6s forwards ease-in;

		@media(min-width: v.$md) {
			height: 20%;
			bottom: 15%;
		}
	}

	@keyframes textColorAnim {
		0% { color: v.$c-white; }
		100% { color: v.$c-violet; }
	}

	@keyframes afterFadeIn {
		0% { opacity: 0; }
		20% { opacity: 1; }
		100% { opacity: 0; }
	}
}
