@use '../variables/variables' as v;

a {
	display: inline-block;
	text-decoration: none;
	transition: color ease-out v.$tr;
	cursor: pointer
}

p {
	margin: 0 0 1rem;

	&:last-child {
		margin-bottom: 0
	}

	a {
		display: inline;
		color: v.$c-white;
		text-decoration: none;
	}
}

b, strong {
	font-weight: 700
}
