@use "@/scss/variables/variables" as v;
@use "@/scss/typography/mixins" as t;

.hero {
	position: relative;
	z-index: 50;
	width: 100%;

	@media(min-width: v.$md) {
		padding-top: 110px;
	}

	&Wrapper {
		width: 100%;
		max-width: 1440px;
		height: calc(100dvh - 110px);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		margin: 0 auto;
		padding-bottom: 5%;
		position: relative;

		.heroBg {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			opacity: 1;
			transition: opacity 1s ease-in-out;

			&.heroBgHidden {
				opacity: 0;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background: v.$dark-gradient;
				z-index: 1;
			}
		}
	}
}