@use "@/scss/variables/variables" as v;
@use "@/scss/typography/mixins" as t;

.hero {
	position: relative;
	z-index: 50;
	width: 100%;
	background-color: v.$c-dark;
	padding-bottom: 80px;

	@media(min-width: v.$md) {
		padding-bottom: 110px;
	}

	&Wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		margin: 0 auto;
		padding-bottom: 5%;
		position: relative;
	}
}