@use '@/scss/variables/variables' as v;
@use "@/scss/typography/mixins" as t;

.fly {
	position: relative;
	width: 100%;
	min-height: 400px;
	padding: 50px 0;
	background: v.$c-dark;
	overflow: visible;
	z-index: 70;

	@media(min-width: v.$md) {
		padding: 100px 0;
		min-height: 641px;
	}

	&Wrapper {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		position: relative;
		z-index: 2;
		margin: 0 auto;
	}

	&Info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		max-width: 800px;

		h3 {
			text-align: left;
			margin-bottom: 20px;
			@include t.text-xl;
		}

		p {
			max-width: 450px;
			font-family: v.$ff;
			font-weight: 400;
			font-size: 18px;
			line-height: 28px;
			color: #7183AA;
			margin-left: auto;

			@media(min-width: v.$md) {
				font-size: 24px;
				line-height: 36px;
			}

			em {
				color: v.$c-violet;
				font-style: normal;
				font-weight: 600;
				position: relative;
				z-index: 1;

				&:after {
					content: '';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 5%;
					display: block;
					width: 101%;
					height: 15%;
					opacity: 1;
					background-color: #29406D;
					z-index: -1;

					@media(min-width: v.$md) {
						height: 20%;
						bottom: 15%;
					}
				}
			}
		}
	}

	&Logo {
		width: 20px;
		height: 20px;
		aspect-ratio: 1;
		z-index: 1;
		pointer-events: none;
		will-change: transform, opacity;

		@media(min-width: v.$md) {
			width: 40px;
			height: 40px;
		}
		
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
			filter: drop-shadow(0 4px 12px rgba(0, 0, 0, 0.3));
		}
	}
}