@use '@/scss/variables/variables' as v;
@use "@/scss/helpers/mixins" as m;

.cta {
	width: 100%;
	padding: 60px 0;

	@media(min-width: v.$md) {
		padding: 100px 0;
	}

	&Inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 30px;
		margin: 0 auto;
		padding: 50px 10px;
		border-radius: 40px;
		background-color: #7E90B9;

		@media(min-width: v.$md) {
			padding: 50px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: 700;
			font-size: 50px;
			line-height: 60px;
			text-align: center;
			color: v.$c-black;

			@media(min-width: v.$md) {
				font-size: 100px;
				line-height: 120px;
			}

			em {
				width: 220px;
				display: inline-block;
				position: relative;
				z-index: 1;

				@media(min-width: v.$md) {
					width: 455px;
				}

				&:after {
					content: '';
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 5%;
					display: block;
					width: 101%;
					height: 15%;
					opacity: 1;
					background-color: v.$c-blue;
					z-index: -1;

					@media(min-width: v.$md) {
						height: 20%;
						bottom: 15%;
					}
				}
			}
		}

		p {
			font-family: v.$ff;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			color: v.$c-black;
			text-align: center;

			@media(min-width: v.$md) {
				font-size: 32px;
				line-height: 48px;
			}
		}
	}

	&Links {
		display: flex;
		align-items: center;
		gap: 20px;

		a {
			transition: opacity ease-in v.$tr;

			@include m.hover {
				opacity: v.$opacity-base;
			}
		}
	}
}