@use '@/scss/variables/variables' as v;

.pieChart {
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	will-change: transform;
	overflow: visible;
}

.svg {
	display: block;
	overflow: visible;
	width: 230px;
	height: 230px;

	@media(min-width: v.$md) {
		width: 300px;
		height: 300px;
	}
}
