@use '@/scss/variables/variables' as v;

.pieChart {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	will-change: transform;
}

.svg {
	display: block;
	overflow: visible;

	&.sizeSM {
		width: 150px;
		height: 150px;

		@media(min-width: v.$md) {
			width: 200px;
			height: 200px;
		}
	}

	&.sizeMD {
		width: 200px;
		height: 200px;

		@media(min-width: v.$md) {
			width: 350px;
			height: 350px;
		}
	}

	&.sizeLG {
		width: 300px;
		height: 300px;

		@media(min-width: v.$md) {
			width: 500px;
			height: 500px;
		}
	}
}
