@use '@/scss/variables/variables' as v;

.pieChart {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	will-change: transform;
	overflow: visible;
	position: absolute;
	right: 0;
	top: 15%;
	z-index: -1;

	@media(min-width: v.$xs) {
		top: 5%;
	}

	@media(min-width: v.$md) {
		position: relative;
		top: auto;
		right: auto;
	}
}

.svg {
	display: block;
	overflow: visible;
	width: 230px;
	height: 230px;

	@media(min-width: v.$md) {
		width: 300px;
		height: 300px;
	}
}
