@use '../variables/variables' as v;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	&:focus,
	&:focus-visible {
		outline: none
	}
}

html {
	overflow-x: hidden;
}

html,
body {
	max-width: 100vw;
	font-family: v.$ff;
	font-size: v.$fs-mobile-base;
	line-height: 1.5;

	@media (min-width: v.$lg) {
		font-size: v.$fs-desktop-base
	}
}

body {
	color: v.$c-white;
	background: v.$c-dark;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

main {
	width: 100%;
}

button,
a {
	&:focus-visible {
		outline: 2px solid v.$c-dark
	}

	&:focus:not(:focus-visible) {
		outline: none
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto
}