@use "@/scss/variables/variables" as v;

.header {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	padding: 30px 0;
	z-index: 100;

	&Wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 30px;
	}

	.headerLink {
		display: none;

		@media (min-width: v.$xl) {
			display: flex;
		}
	}

	.headerButton {
		display: flex;
		position: fixed;
		right: 20px;
		bottom: calc(100% - 76px);
		transition: all ease-in-out v.$tr;

		@media (min-width: v.$md) {
			right: 50px;
		}

		@media (min-width: v.$xl) {
			display: none;
		}

		&.scrolled {
			right: 50%;
			bottom: 30px;
			transform: translateX(50%);
		}
	}

}