@use "@/scss/typography/mixins" as t;
@use "@/scss/variables/variables" as v;

.heroDesc {
	position: absolute;
	left: 0;
	bottom: 10%;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	padding-left: 20px;
	z-index: 50;

	@media(min-width: v.$md) {
		padding-left: 50px;
	}

	&Container {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100vh;
		z-index: 2;
		pointer-events: none;

		&.hidden {
			pointer-events: none;
			z-index: -100;
			opacity: 0;
		}
	}

	p {
		@include t.text-base;
	}

	h2 {
		@include t.text-xl
	}
}