@use "@/scss/typography/mixins" as t;
@use "@/scss/variables/variables" as v;

.heroDesc {
	position: absolute;
	left: 0;
	bottom: 45%;
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding-left: 20px;
	z-index: 50;

	@media(min-width: v.$md) {
		padding-left: 50px;
		bottom: 10%;
		gap: 20px;
	}

	&Container {
		position: fixed;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100%;
		height: 100vh;
		z-index: 2;
		pointer-events: none;

		@media(min-width: v.$md) {
			height: 100vh;
		}

		&.hidden {
			pointer-events: none;
			z-index: -100;
			opacity: 0;
		}
	}

	p {
		margin-bottom: 0;
		font-family: v.$ff;
		color: v.$c-white;
		font-weight: 400;
		font-size: 18px;
		line-height: 22px;

		@media(min-width: v.$md) {
			font-size: 32px;
			line-height: 48px;
		}
	}

	h2 {
		@include t.text-xl
	}
}