@use "@/scss/typography/mixins" as t;

.heroDesc {
	position: fixed;
	width: 100%;
	max-width: 540px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
	z-index: 50;

	&.hidden {
		pointer-events: none;
		transform: translateX(20px);
		z-index: -100;
	}

	p {
		@include t.text-base;
	}

	h2 {
		@include t.text-xl
	}
}