@use "@/scss/typography/mixins" as t;

.heroDesc {
	position: fixed;
	width: 100%;
	max-width: 540px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;

	p {
		@include t.text-base;
	}

	h2 {
		@include t.text-xl
	}
}