@use '@/scss/variables/variables' as v;

.about {
	padding: 100px 0;
	background: v.$c-dark;
	z-index: 55;

	&Wrapper {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 60px;

		@media(min-width: v.$md) {
			gap: 60px;
		}
	}

	&Top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 30px;

		@media(min-width: v.$sm) {
			flex-direction: row;
			padding: 0;
		}

		&Left {
			width: 100%;
			max-width: 193px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;

			@media(min-width: v.$sm) {
				max-width: 521px;
			}

			span {
				display: none;
				font-family: v.$ff;
				font-weight: 400;
				font-size: 18px;
				line-height: 22px;
				color: v.$c-white;

				@media(min-width: v.$md) {
					display: block;
				}
			}

			h3 {
				font-family: v.$ff;
				font-weight: 700;
				font-size: 22px;
				line-height: 30px;
				color: v.$c-white;

				@media(min-width: v.$md) {
					font-size: 60px;
					line-height: 70px;
				}
			}
		}

		&Right {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-left: auto;
			padding-right: 50px;

			@media(min-width: v.$md) {
				padding-right: 0;
			}
		}
	}

	&Bottom {
		width: 100%;
		display: none;
		flex-direction: column;
		align-items: flex-start;
		gap: 60px;

		@media(min-width: v.$md) {
			display: flex;
		}

		&Up {
			width: 100%;
		}

		&Down {
			width: 100%;
			display: flex;
			align-items: flex-start;
			gap: 40px;

			.downInfo {
				width: 100%;
				max-width: 406px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 11px;

				p, span {
					font-family: v.$ff;
					font-weight: 400;
					font-size: 16px;
					line-height: 20px;
					color: v.$c-white;
					margin-bottom: 0;
				}

				span {
					display: inline-flex;
					flex-wrap: wrap;
					align-items: center;
					gap: 5px;
				}
			}

			.downPayment {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 11px;

				span {
					font-family: v.$ff;
					font-weight: 400;
					font-size: 16px;
					line-height: 20px;
					color: v.$c-white;
					margin-bottom: 0;
				}
			}

			.downImages {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				gap: 10px;

				img {
					width: auto;
					height: 40px;
				}
			}
		}
	}

	.progressContainer {
		width: 100%;
		padding: 30px 0;

		@media(min-width: v.$md) {
			padding: 50px 0;
		}
	}
}


