@use "@/scss/variables/variables" as v;
@use "@/scss/typography/mixins" as t;
@use "@/scss/helpers/mixins" as m;

.heroCard {
	position: sticky;
	left: 0;
	top: 20vh;
	width: 100%;
	max-width: 906px;
	padding: 10px;
	background: v.$c-dark;
	border: 2px solid v.$c-blue;
	border-radius: 5px;
	margin: 0 auto;
	//opacity: 0;
	transition: opacity ease-in-out v.$tr, max-width ease-in-out v.$tr;

	&Container {
		width: 100%;
		min-height: 400vh;
		position: relative;
	}

	&Inner {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	&Img {
		width: 100%;
		min-height: 514px;
		padding: 20px;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 5px;
			object-fit: cover;
		}

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: v.$dark-gradient-light;
		}
	}

	&Desc {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		width: 100%;
		max-width: 592px;
		position: absolute;
		left: 20px;
		bottom: 20px;
		z-index: 1;

		h2 {
			@include t.text-xl;
		}
	}

	&Text {
		width: 100%;
		padding: 60px 20px;
		display: flex;
		align-items: center;
		gap: 70px;

		h3 {
			width: 100%;
			max-width: 495px;
			@include t.text-xl;

			em {
				@include t.text-em;
			}
		}

		p {
			width: 100%;
			max-width: 220px;
			font-family: v.$ff;
			font-weight: 700;
			font-size: 22px;
			line-height: 30px;
			text-align: left;
		}
	}

	&Items {
		width: 100%;
		max-width: 906px;
		padding: 20px;
		display: flex;
		align-items: stretch;
		gap: 20px;
		white-space: nowrap;
		overflow: hidden;

		&Text {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			padding: 20px;
			margin: 0 auto;

			h3 {
				text-align: center;
				@include t.text-xl;
			}

			em {
				@include t.text-xl;
				color: v.$c-violet;
			}
		}
	}

	&Item {
		min-width: 150px;
		height: 226px;
		transition: transform ease-in-out v.$tr;
		position: relative;

		@include m.hover {
			transform: scale(1.05);

			.itemPrice {
				opacity: 1;
			}
		}

		img {
			border-radius: 5px;
		}

		.itemPrice {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: v.$dark-gradient-v;
			color: v.$c-gold;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			padding: 10px 10px 20px 10px;
			opacity: 0;
			transition: opacity ease-in-out v.$tr;

			span {
				font-family: v.$ff;
				font-weight: 700;
				font-size: 14px;
				line-height: 18px;
				text-align: center;
			}
		}
	}
}