@use "@/scss/variables/variables" as v;
@use "@/scss/typography/mixins" as t;
@use "@/scss/helpers/mixins" as m;

.heroCard {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	background: v.$c-dark;
	border: 2px solid transparent;
	border-radius: 5px;
	margin: 0 auto;
	visibility: visible;
	will-change: opacity;
	transition: width ease 1s, top ease 1s, padding ease 1s, top ease 1s, max-width ease 1s;

	&Start {
		overflow: hidden;
		width: 100%;

		@media(min-width: v.$md) {
			top: 10vh;
			width: 912px;
			border-color: v.$c-blue;
			padding: 10px;
		}

		.heroCardImg {
			width: 100%;
			height: 100%;
			margin-left: auto;

			img {
				border-radius: 5px;
			}
		}

		.heroCardBg {
			display: none;
		}
	}

	&Hidden {
		opacity: 0;
		visibility: hidden;
	}

	&Bg {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		z-index: -1;
		opacity: 1;
		transition: opacity ease-in-out v.$tr, visibility v.$tr ease-in-out;

		@media(min-width: v.$md) {
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: v.$dark-gradient;
			z-index: 1;
		}
	}

	&BgHidden {
		opacity: 0;
		visibility: hidden;
		z-index: -100;
		transition: opacity ease-in-out v.$tr, visibility v.$tr ease-in-out, z-index v.$tr ease-in-out;
	}

	&.expanded {
		width: 100%;
		max-width: 1540px;
		overflow: visible;

		.heroCardItems {
			opacity: 1;
		}

		.heroCardInner {
			max-width: 1540px;
		}
	}

	&.finish {
		border-color: transparent;

		.heroCardItems {
			transform: translateX(0);
		}
	}

	&Container {
		width: 100%;
		min-height: 400vh;
		position: relative;
	}

	&Inner {
		width: 100%;
		height: 100%;
		max-width: 992px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		margin: 0 auto;
		transition: max-width ease v.$tr;
	}

	&Img {
		width: 100%;
		height: calc(100% - 110px);
		position: relative;
		aspect-ratio: 16 / 9;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&:after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: v.$dark-gradient-light;
		}
	}

	&DescD, &DescM {
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		width: 100%;

		h2 {
			@include t.text-xl;
		}
	}

	&DescD {
		display: none;
		position: absolute;
		left: 20px;
		bottom: 20px;
		z-index: 1;
		max-width: 592px;

		@media(min-width: v.$md) {
			display: flex;
		}
	}

	&DescM {
		padding: 20px 0;
		max-width: 266px;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 0 auto;

		button {
			width: 100%;
		}

		@media(min-width: v.$md) {
			display: none;
		}
	}

	&Text {
		width: 100%;
		padding: 60px 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		@media(min-width: v.$md) {
			flex-direction: row;
			align-items: center;
			gap: 70px;
		}

		h3 {
			width: 100%;
			max-width: 245px;
			@include t.text-xl;

			@media(min-width: v.$md) {
				max-width: 495px;
			}
		}

		p {
			width: 100%;
			max-width: 220px;
			font-family: v.$ff;
			font-weight: 700;
			font-size: 18px;
			line-height: 22px;
			text-align: left;
			margin-left: auto;

			@media(min-width: v.$md) {
				font-size: 22px;
				line-height: 30px;
			}
		}
	}

	.heroMovies {
		width: 100%;
	}

	&Items {
		width: 100vw;
		margin-left: calc(50% - 50vw);
		padding: 20px;
		display: flex;
		align-items: stretch;
		gap: 8px;
		opacity: 0;
		white-space: nowrap;
		position: relative;
		min-height: 139px;
		justify-content: center;

		@media(min-width: v.$md) {
			min-height: 226px;
			gap: 20px;
		}

		&Text {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 10px;
			padding: 20px;
			margin: 0 auto;

			&Title,
			&Subtitle {
				text-align: center;
				@include t.text-xl;
			}
		}
	}

	&Item {
		flex: 0 0 auto;
		width: 92px;
		height: 140px;
		transition: transform ease-in-out v.$tr;
		position: relative;

		@include m.hover {
			.itemPrice {
				opacity: 1;
			}
		}

		@media(min-width: v.$md) {
			width: 150px;
			height: 226px;
		}

		a {
			width: 100%;
			height: 100%;
		}

		img {
			border-radius: 5px;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.itemPrice {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: v.$dark-gradient-v;
			color: v.$c-gold;
			display: flex;
			align-items: flex-end;
			justify-content: center;
			padding: 10px 10px 20px 10px;
			opacity: 0;
			transition: opacity ease-in-out v.$tr;

			span {
				font-family: v.$ff;
				font-weight: 700;
				font-size: 10px;
				line-height: 18px;
				text-align: center;

				@media(min-width: v.$md) {
					font-size: 14px;
				}
			}
		}
	}
}