@use '@/scss/variables/variables' as v;

.text {
	padding: 100px 0;

	&Wrapper {
		width: 100%;
		max-width: 640px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		margin: 0 auto;

		@media(min-width: v.$md) {
			gap: 40px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: 700;
			font-size: 32px;
			line-height: 48px;
			color: v.$c-violet;

			&:last-child {
				margin-left: auto;
			}

			@media(min-width: v.$md) {
				font-size: 60px;
				line-height: 70px;
			}
		}
	}
}