@use "@/scss/variables/variables" as v;
@use "@/scss/typography/mixins" as t;

.track {
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	will-change: transform, opacity;

	@media(min-width: v.$md) {
		padding: 20px 20px 100px 20px;
	}

	@media(min-width: v.$xl) {
		padding: 32px 40px;
	}
	
	&Info {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 20px;
		
		@media(min-width: v.$md) {
			margin-bottom: 24px;
		}
	}
	
	&Progress {
		width: 100%;
	}
	
	&Bar {
		position: relative;
		width: 100%;
		height: 4px;
		background-color: #0C1828;
		border-radius: 10px;
		cursor: pointer;
		margin-bottom: 12px;
		
		@media(min-width: v.$md) {
			height: 8px;
			border-radius: 3px;
			margin-bottom: 16px;
		}
		
	}
	
	&Watched {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		background: rgba(v.$c-gold, 0.6);
		border-radius: inherit;
		transition: width 0.2s ease;
		will-change: width;
	}
	
	&Fill {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		border-radius: 10px;
		background-color: v.$c-gold;
		will-change: width;
	}
	
	&Thumb {
		position: absolute;
		top: 50%;
		will-change: transform;
		width: 16px;
		height: 16px;
		background-color: v.$c-gold;
		border-radius: 50%;
		transform: translateX(-100%) translateY(-50%);
		cursor: pointer;
		opacity: 1;
		
		@media(min-width: v.$md) {
			width: 29px;
			height: 29px;
		}
	}
	
	&Time {
		display: flex;
		justify-content: space-between;
		align-items: center;
		font-family: v.$ff;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		color: v.$c-white;
		
		@media(min-width: v.$md) {
			font-size: 22px;
			line-height: 30px;
		}
	}
}
