@use '@/scss/variables/variables' as v;
@use "@/scss/typography/mixins" as t;

.bill {
	width: 100%;
	padding: 100px 0;
	position: relative;
	background-color: v.$c-dark;
	z-index: 60;
	will-change: transform, opacity;

	&Wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		@media(min-width: v.$xl) {
			gap: 80px;
		}
	}

	&Heading {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;

		h3 {
			@include t.text-xl;

			& {
				color: v.$c-violet;
			}
		}

		span {
			font-family: v.$ff;
			font-weight: 400;
			font-size: 28px;
			line-height: 32px;
			color: v.$c-violet;

			@media(min-width: v.$md) {
				font-size: 40px;
				line-height: 70px;
			}
		}
	}

	.billCards {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		gap: 20px;

		@media(min-width: v.$xl) {
			flex-direction: row;
		}
	}

	.billCard {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		position: relative;
		border-radius: 20px;
		background-color: #162542;
		padding: 90px 20px 50px 30px;

		@media(min-width: v.$xl) {
			width: 50%;
			padding: 20px 20px 50px 30px;
		}

		&Info {
			width: 100%;
			max-width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;

			@media(min-width: v.$md) {
				max-width: 70%;
			}
		}

		&Group {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			h4 {
				font-family: v.$ff;
				font-weight: 700;
				color: v.$c-white;
				font-size: 32px;
				line-height: 48px;

				@media(min-width: v.$md) {
					font-size: 44px;
					line-height: 48px;
				}
			}

			h5 {
				font-family: v.$ff;
				font-weight: 700;
				color: v.$c-white;
				font-size: 22px;
				line-height: 30px;

				@media(min-width: v.$md) {
					font-size: 32px;
					line-height: 48px;
				}
			}


			p {
				font-family: v.$ff;
				font-weight: 400;
				font-size: 14px;
				line-height: 18px;
				color: #7183AA;

				@media(min-width: v.$md) {
					font-size: 22px;
					line-height: 30px;
				}
			}
		}

		&Img {
			position: absolute;
			right: 0;
			top: 20px;
			max-width: 150px;

			@media(min-width: v.$xs) {
				right: 20px;
			}

			@media(min-width: v.$sm) {
				max-width: 230px;
			}

			@media(min-width: v.$md) {
				max-width: 248px;
			}

			img {
				width: 100%;
				height: auto;
			}
		}

		&Buttons {
			width: 100%;
			display: flex;
			white-space: nowrap;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			gap: 10px;

			a {
				width: 100%;

				@media(min-width: v.$sm) {
					width: auto;
				}
			}

			@media(min-width: v.$sm) {
				flex-direction: row;
			}
		}
	}
}