@import "tailwindcss";

@theme {
    --color-white: #ffffff;
    --color-pop-corn: #FAF8ED;
    --color-black: #111111;
    --color-dark: #0D1323;
    --color-dark-blue: #0D1323;
    --color-blue: #29406D;
    --color-gold: #CEB182;
    --color-violet: #B8B6FE;
    --color-violet-dark: #918fe2;

    --font-sans: var(--ff-instrument-sans), sans-serif;

    --text-xxs: 11px;
    --text-xs: 12px;
    --text-sm: 14px;
    --text-sm-plus: 15px;
    --text-md: 16px;
    --text-md-plus: 17px;
    --text-lg: 18px;
    --text-xl: 20px;

    --breakpoint-xs: 375px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1280px;
    --breakpoint-xl-alt: 1366px;
    --breakpoint-xxl: 1440px;
    --breakpoint-fhd: 1920px;

    --transition-base: 200ms;

    --opacity-base: 0.7;

    --gradient-dark: linear-gradient(
            to right,
            rgb(13, 19, 15),
            rgba(13, 19, 35, 0.98),
            rgba(13, 19, 35, 0.5),
            rgba(13, 19, 35, 0.3),
            rgba(13, 19, 35, 0),
            rgba(13, 19, 35, 0)
    );

    --gradient-dark-light: linear-gradient(
            to right,
            rgb(13, 19, 15),
            rgba(13, 19, 35, 0.88),
            rgba(13, 19, 35, 0.5),
            rgba(13, 19, 35, 0.3),
            rgba(13, 19, 35, 0),
            rgba(13, 19, 35, 0)
    );

    --gradient-dark-vertical: linear-gradient(
            to top,
            rgb(13, 19, 15),
            rgba(13, 19, 40, 1),
            rgba(13, 19, 35, 0.8),
            rgba(13, 19, 35, 0.3),
            rgba(13, 19, 35, 0),
            rgba(13, 19, 35, 0)
    );

    --gradient-dark-bottom: linear-gradient(
            to top,
            rgba(13, 19, 35, 1) 0%,
            rgba(13, 19, 35, 0.85) 30%,
            rgba(13, 19, 35, 0.6) 55%,
            rgba(13, 19, 35, 0.3) 75%,
            rgba(13, 19, 35, 0) 100%
    );

    --gradient-light: linear-gradient(
            90deg,
            rgba(13, 19, 15, 0.87) 15%,
            rgba(13, 19, 40, 0.76) 50%,
            rgba(13, 19, 35, 0.43) 100%
    );
}

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    *:focus,
    *:focus-visible {
        outline: none;
    }

    html {
        overflow-x: hidden;
    }

    html,
    body {
        max-width: 100vw;
        font-size: 15px;
        line-height: 1.5;
    }

    @media (min-width: 992px) {
        html,
        body {
            font-size: 18px;
        }
    }

    body {
        font-family: var(--ff-instrument-sans), sans-serif;
        color: var(--color-white);
        background: var(--color-dark);
        overflow-x: clip;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    main {
        width: 100%;
    }

    button:focus-visible,
    a:focus-visible {
        outline: 2px solid var(--color-dark);
    }

    button:focus:not(:focus-visible),
    a:focus:not(:focus-visible) {
        outline: none;
    }

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    a {
        display: inline-block;
        text-decoration: none;
        transition: color ease-out var(--transition-base);
        cursor: pointer;
    }

    em {
        font-style: normal;
    }

    .mask-text em {
        position: relative;
        z-index: 1;
    }

    .mask-text em::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 5%;
        display: block;
        width: 101%;
        height: 15%;
        opacity: 1;
        background-color: var(--color-blue);
        z-index: -1;
    }

    @media (min-width: 768px) {
        .mask-text em::after {
            height: 20%;
            bottom: 15%;
        }
    }

    p {
        margin: 0;
    }

    p:last-child {
        margin-bottom: 0;
    }

    p a {
        display: inline;
        color: var(--color-white);
        text-decoration: none;
    }

    b,
    strong {
        font-weight: 700;
    }

    form {
        width: 100%;
    }

    fieldset {
        padding: 0;
        margin: 0;
        border: none;
    }

    fieldset button {
        width: 100%;
    }

    button {
        cursor: pointer;
    }

    .isLoading {
        opacity: 0.5;
        pointer-events: none;
        user-select: none;
    }

    .isHidden {
        display: none !important;
    }
}