@use '@/scss/variables/variables' as v;

.progressContainer {
	width: 100%;
	padding: 30px 0;

	.progressBar {
		position: relative;
		height: 4px;
		background-color: v.$c-blue;
		border-radius: 4px;
		margin-bottom: 15px;
		cursor: pointer;
		touch-action: none;
	}

	.progressTrack {
		height: 100%;
		background-color: v.$c-gold;
		border-radius: 4px;
	}

	.progressDot {
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-2px);
		width: 16px;
		height: 16px;
		background-color: v.$c-gold;
		border-radius: 50%;

		@media(min-width: v.$md) {
			width: 13px;
			height: 13px;
		}
	}

	.progressInfo {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		color: #fff;
	}

	.leftInfo, .rightInfo {
		display: flex;
		flex-direction: column;
	}

	.forEvery, .youPay {
		font-family: v.$ff;
		font-size: 14px;
		line-height: 18px;
		color: v.$c-violet;
		margin-bottom: 5px;
	}

	.timeBlock {
		display: flex;
		align-items: center;
		gap: 5px;
	}

	.time, .price {
		font-family: v.$ff;
		font-size: 32px;
		line-height: 48px;
		font-weight: 700;
		color: v.$c-violet;
	}

	.youPlay {
		font-family: v.$ff;
		font-size: 16px;
		line-height: 20px;
		color: v.$c-violet;
	}
}