// Font(s)
$ff: var(--ff-instrument-sans), sans-serif;

// Size (mobile)
$fs-mobile-base: 15px;

// Size (desktop)
$fs-desktop-base: 18px;

// Common fonts sizes
$fs-xxs: 11px;
$fs-xs: 12px;
$fs-sm: 14px;
$fs-sm-plus: 15px;
$fs-md: 16px;
$fs-md-plus: 17px;
$fs-lg: 18px;
$fs-xl: 20px;

// Base line height
$lh-title: 1.1;
$lh-text: 1.5;