@use '@/scss/variables/variables' as v;
@use "@/scss/helpers/mixins" as m;

.footer {
	width: 100%;
	background-color: v.$c-dark;
	padding: 60px 0 200px;
	position: relative;

	@media(min-width: v.$md) {
		padding: 80px 0 280px;
	}

	.movie {
		width: 100%;
		max-width: 1400px;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 5%);
	}

	&Wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 20px;

		@media(min-width: v.$md) {
			gap: 60px;
		}
	}

	&Top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 100px;

		@media(min-width: v.$md) {
			flex-direction: row;
		}

		.topLeft {
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			.footerLogo {
				margin-bottom: 15px;

				img {
					width: auto;
					height: 32px;

					@media(min-width: v.$lg) {
						height: 64px;
					}
				}
			}

			&Socials {
				width: 100%;
				display: flex;
				align-items: stretch;
				gap: 30px;
				margin-bottom: 20px;

				a {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 24px;
					height: 24px;
					transition: opacity 0.3s ease-in-out;

					@media(min-width: v.$lg) {
						width: 33px;
						height: 33px;
					}

					@include m.hover {
						opacity: v.$opacity-base;
					}

					img {
						width: 100%;
						height: 100%;
					}
				}
			}

			&Payments {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				span {
					font-family: v.$ff;
					font-size: 16px;
					line-height: 20px;
					color: v.$c-white;
					margin-bottom: 12px;
				}

				.items {
					width: 100%;
					display: flex;
					align-items: center;
					flex-wrap: wrap;
					gap: 20px;
					margin-bottom: 20px;

					img {
						width: auto;
						height: 30px;

						@media(min-width: v.$md) {
							height: 40px;
						}
					}
				}

				.info {
					display: flex;
					align-items: center;
					gap: 5px;
					font-family: v.$ff;
					font-size: 16px;
					line-height: 20px;
					color: v.$c-white;
					margin-bottom: 12px;
				}
			}
		}

		.topRight {
			flex: 1;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			justify-content: flex-start;
			gap: 40px;

			@media(min-width: v.$xl) {
				justify-content: flex-end;
			}

			nav {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 10px;

				span {
					font-family: v.$ff;
					font-weight: 700;
					color: v.$c-white;
					font-size: 20px;
					line-height: 30px;
				}

				ul {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 10px;
					list-style: none;

					li {
						width: 100%;

						a {
							font-family: v.$ff;
							font-weight: 400;
							color: v.$c-white;
							font-size: 16px;
							line-height: 20px;
							transition: opacity 0.3s ease-in-out;

							@include m.hover {
								opacity: v.$opacity-base;
							}

							@media(min-width: v.$md) {
								font-size: 20px;
								line-height: 30px;
							}
						}
					}
				}
			}
		}
	}

	&Bottom {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 32px;

		@media(min-width: v.$xl) {
			flex-direction: row;
			align-items: center;
		}

		&Left {
			display: flex;
			flex-direction: column;

			.sitemap {
				width: 100%;
				margin-bottom: 30px;

				&Dropdown {
					display: flex;
					align-items: center;
					gap: 20px;
				}

				&Text {
					font-family: v.$ff;
					color: v.$c-white;
					font-size: 18px;
					line-height: 22px;
				}
			}
		}

		.copyright {
			p {
				font-family: v.$ff;
				color: v.$c-white;
				font-size: 18px;
				line-height: 22px;
				margin-bottom: 10px;
			}

			span {
				font-family: v.$ff;
				color: #7A7A7A;
				font-size: 14px;
				line-height: 18px;
			}
		}

		&Links {
			display: flex;
			align-items: center;
			gap: 16px;

			@media(min-width: v.$md) {
				gap: 32px;
			}

			a {
				transition: opacity 0.3s ease-in-out;

				@include m.hover {
					opacity: v.$opacity-base;
				}
			}
		}
	}
}
